<form [formGroup]="recipeForm" (ngSubmit) = "submitForm()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name" required>
        <div *ngIf="name?.invalid && name?.touched"
        class="alert alert-danger">
            Name is required
        </div>
        
      </div>
      <div class="form-group col-md-6">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" formControlName="description">
        <div *ngIf="description?.invalid && description?.touched"
        class="alert alert-danger">
            Description is required
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="image" class="form-label">Image</label>
      <input type="url" class="form-control" id="image" placeholder="Image" formControlName="image">
      <div *ngIf="image?.errors?.['pattern'] && image?.invalid && image?.touched"
      class="alert alert-danger">
          Image is required
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="type" class="form-label">Type</label>
      <input type="text" class="form-control" id="type" placeholder="Breakfast/Dinner" formControlName="type">
      <div *ngIf="type?.invalid && type?.touched"
      class="alert alert-danger">
          Type is required
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="type" class="form-label">Ingredients</label>
      <input type="text" class="form-control" id="type" placeholder="Ingridients" formControlName="ingredients">
      <div *ngIf="ingredients?.invalid && ingredients?.touched"
      class="alert alert-danger">
          Ingredients are required
      </div>
    </div>
    <button [disabled]="!recipeForm.valid" 
    type="submit" class="btn btn-primary">Add Recipe</button>
  </form>



